.content {
    min-height: 100vh;
    flex: 1;
}

nav button {
    background-color: lightgreen;
}

#navbarSupportedContent {
    overflow-y: auto;
}

.navbar-nav .nav-item .nav-link button {
    font-size: 1rem;
    padding: 10px 20px;
}
