.content {
    min-height: 100vh;
    flex: 1;
}

nav button {
    background-color: lightgreen;
}

#navbarSupportedContent {
    overflow-y: auto;
}

.navbar-nav .nav-item .nav-link button {
    font-size: 1rem;
    padding: 10px 20px;
}

.form-control {
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::placeholder {
    color: #aaa;
}

#subscribeInput::placeholder {
    color: orange;
}

@media screen and (max-width: 1000px) {
    .container-fluid {
        margin-top: 0.2rem;
        padding: 0.4rem;
    }

    ul.navbar-nav {
        text-align: center;
    }

    ul.navbar-nav li.nav-item button {
        width: 50%;
    }

    .navbar-collapse {
        margin-top: 0.8rem;
    }

    nav.navbar {
        margin: 0.3rem !important;
    }

    a.navbar-brand {
        text-align: center;
        flex: 1;
    }
}